-gallery_image = ["club-sandwich","papas","hamburger","panini","club-sandwich","papas"]
!!!5
%html{class: "no-js", lang:"es"}
	%head
	%meta{charset: "utf-8"}
		%title La mejor comida en Grecia de Andrei
		%meta{name: "description", content: "Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas ...."}/
		%link{rel: "stylesheet", href: "/assets/css/normalize.css"}
		%link{rel: "stylesheet", href: "/assets/css/bootstrap.css"}
		%link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Dancing+Script:400,700", rel:"stylesheet"}
		%link{rel: "stylesheet", href: "/assets/css/style.css"}
		%meta{:"data-name" => "image-counter", content:"#{gallery_image.size-1}"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
		%script{src: "/assets/js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class: "browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			Por favor
			%a{:href => "http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay: true, loop: true, width: 1280, height: 720, poster: "/assets/video/img/bbq.jpg"}
				%source{src: "/assets/video/bbq.mp4"}/
				%source{src: "/assets/video/bbq.webm"}/
		.row.full-height.middle-xs.center-xs.relative#home
			.col-xs-12.sobre
				.box
					%img{src: "/assets/imgs/logo.png", width: 200}
					%h1.white-text.dancing-script.title.no-margin Grecia de Andrei - Usaquen
					%p#is-open.white-text.textos 
						%i.glyphicon.glyphicon-time 
						%span.text Abierto Ahora
			%nav.fixed.top.right.white-text.navigation#navigation
				-menu = [{title:"Inicio",link:"#home"}, {title:"Menu", link:"#menu"}, {title:"Galeria", link:"#gallery"}, {title:"Contacto", link:"#contact"}, {title:"Cómo llegar", link:"#location"}]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{href:item[:link]}= item[:title]
			.absolute.black.large-padding.white-text.full-width.up#description 
				.row.middle-xs.center-xs
					.col-xs-7.col-sm-6.white-text.medium Atención cálida y comida preparada por artistas
					.col-xs.hidden#sticky-navigation
						.box
							%nav.text-right.navigation#responsive-nav
								%i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu_opener
								%ul.list-inline
									-menu.each do |item|
										%li
											%a.menu-link{href:item[:link]}= item[:title]
	.text-center.relative#menu
		.absolute.white#menu-title
			%h2.dancing-script.title Menú
		-menu_photos = [{name:"Club Sandiwch", img:"club-sandwich",pricing:"10.00"},{name:"Combo Hamburguesa", img:"combo",pricing:"15.00"},{name:"Hamburguesa", img:"hamburger",pricing:"20.00"},{name:"Hot cakes", img:"hot-cakes",pricing:"32.00"},{name:"Panini", img:"panini",pricing:"12.00"},{name:"Papas", img:"papas",pricing:"52.00"},{name:"Club Sandiwch", img:"club-sandwich",pricing:"21.00"},{name:"Hamburguesah", img:"hamburger",pricing:"42.00"}]
		.row
			-menu_photos.each do |photo|
				.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(/assets/imgs/food/#{photo[:img]}-thumb.jpg)"}
					.screen
						.row.middle-xs.full-height
							.col-xs-12
								%h3.dancing-script.white-text.subtitle= photo[:name]
								%p.no-margin.white-text.medium= "$ " + photo[:pricing ] + " USD"
	#gallery
		.inner
			-gallery_image.each do |images|
				.image{style:"background-image:url(/assets/imgs/food/#{images}.jpg)"}
	.container.top-space.relative
		.card.white.black-text.text-center
			%h3.medium.slim 
				En
				%strong.dancing-script.medium Grecia De Andrei, 
				cocinar no es una profesión, no es una técnica,	es un
				%strong.dancing-script.medium Arte
			%p Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas al limón), el moussaka o el gyros. En las bebidas encontraremos deliciosos cocteles griegos. El restaurante cuenta con un amplio lounge en el primer piso ideal para compartir en familia o con amigos, y un área más privada en el segundo piso. Ambos espacios han sido cuidadosamente decorados logrando una combinación entre el estilo vintage que va desde la silletería y muebles, hasta artículos deco que cuelgan en sus paredes como botellas y pequeños recipientes, y un concepto más moderno reflejado en los tonos, iluminación y techo maderoso. Si vamos un viernes a la noche podremos vivir un momento bien especial disfrutando música en vivo. Grecia de Andrei abre sus puertas para probar ricos platos gourmet, compartiendo en familia, amigos o en pareja.
			%strong.dancing-script.medium Coco - Chef Master
			.large-padding.medium.black.white-text.text-center También puedes acceder a nuesta web sin conexión a internet
	.top-space.black.white-text.full-height#contact
		.row.middle-xs.full-height
			.col-xs-12
				.box
					%p.text-center.medium#info-contacto Presiona Enter para llenar el campo correspondiente y enviarnos un correo
					%form{action:"https://formspree.io/osarus-13@hotmail.com", method:"POST", id:"contact-form",class:"step-form"}
						.row.center-xs
							.col-xs-12.col-sm-2.col-md-1.first-sm
								.box
									-3.times do |i|
										-if i == 0
											.path-step.active
										-else 
											.path-step	
							.col-xs-12.col-sm-3.first-xs
								.box
									%fieldset.step.active
										%input{type:"email",name:"email",placeholder:"Escribe tú correo", class:"input", required:true}
									%fieldset.step	
										%input{type:"text",name:"name",placeholder:"Escribe tú nombre", class:"input", required:true}
									%fieldset.step
										%textarea{name:"body",placeholder:"Escribe tú mensaje", class:"input", required:true}
	#location
		#map
		#message.black.large-padding.white-text.text-center.medium 

									

	%script{src:"https://code.jquery.com/jquery-3.2.1.min.js",integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin:"anonymous"}
	%script
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
	%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyDmQGjuYqyJnP2fqM8iDx9G7Gnewq0oPjA"}
	<--%script{src:"/assets/dist/app.js"}-->	
	%script{src:"/assets/dist/maps.js"}	
	%script{src:"/assets/dist/form_object.js"}
	%script{src:"/assets/dist/main.js"}
	%script{src:"/assets/dist/steps.js"}	
    	 
			


	 

